<!-- hello/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello</title>
    </head>
    <body>
        <h1>Howdy! I am Learning Django!</h1>
        <p>This is the site home. Click on the link below to explore the various site sections.</p>
        <a href="/explore">Explore</a>
        <p>This page has a link to another page. Except that, it does absolutely nothing.</p>
        <p> The template is from the hello/templates. But the base directory under TEMPLATES in settings.py is just set to 'templates'.
            This is possible becase 'APP_DIRS' is set to True in settings.py</p>
    </body>
</html>